.icon {
  font-size: 15px;
  font-weight: 700;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  width: 23px;
  height: 23px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms ease, color 200ms ease;
}

.icon.add {
  color: var(--baemint);

  &:hover {
    color: var(--white);
    background-color: var(--baemint);
  }
}

.icon.delete {
  color: var(--red);

  &:hover {
    color: var(--white);
    background-color: var(--red);
  }
}
